html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    position:relative;
}

#carte-canvas {
    height: 100%;
    background-color: #ccc;
}

#configuration{
    position:absolute;
    right:0;
    top:0;
}

#panneau-config {
    position:absolute;
    right:25px;
    top:60px;
    padding: 10px;
    background-color: #d3d3d3;
    border-radius: 20px;
    visibility: hidden;
    border: solid black 3px;
    width: 400px;
    max-height: 80%;
    overflow: auto;
}

#panneau-config ul {
    padding: 0;
    margin: 0;
}

#panneau-config ul li {
    list-style-type: none;
    padding: 5px;
}

#liste-zap {
    text-align: center;
}

#liste-zap li {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin: 10px 1%;
    background-color: #aaaaaa;
    border-radius: 3px;
    cursor: pointer;
}

#liste-zap li:hover {
    background-color: #333;
    color: #aaa;
}

@media only screen and (max-width: 480px) {
    #panneau-config {
        left: 3.5%;
        width: 85%;
    }
    #liste-zap li {
        width: 95%;
    }
}

@media only screen and (max-height: 320px) {
    #panneau-config {
        top: 5px;
        height: 300px;
    }
}

#panneau-config ul li input {
    margin-right: 5px;
}

.succes {
    color: green;
}

#info-window {
    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 9px;
    border: solid black 2px;
}

#info-window h2 {
    margin-top: 0px;
    border-bottom: solid black 2px;
}